---
import { Image } from "astro:assets"
import GitHubIcon from "./icons/GitHubIcon.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
}
const { project } = Astro.props;
---

<div class="bg-white dark:bg-gray-900 border-2 border-gray-200 dark:border-gray-700 rounded-md p-5 lg:p-6 lg:flex justify-between gap-6">
  <div class="flex flex-col justify-between gap-4 lg:w-5/12">
    <div>
      <h3 class="text-xl font-medium">
        <a href={project.data.link}>{project.data.title}</a>
      </h3>
      <p class="text-sm mb-1">{project.data.technologiesUsed}</p>
      <p>{project.data.description}</p>
    </div>

    <div class="flex flex-col gap-4">
      <a class="lg:hidden" href={project.data.link}>
        <img class="rounded-md" src={project.data.image} alt={project.data.title} />
      </a>

      <div class="flex justify-between items-center">
        <a aria-label={`Discover ${project.data.title}`} href={project.data.link} class="bg-gray-200 dark:bg-gray-800 py-1.5 px-3 text-sm rounded-md transition-all border-2 hover:border-gray-400 dark:border-gray-900 dark:hover:border-gray-700">Discover</a>
        <a aria-label={`Discover ${project.data.title} on GitHub`} href={project.data.github} title={`Open ${project.data.title} on GitHub`}>
          <GitHubIcon class="w-5 h-5 text-gray-900 dark:text-gray-50" />
        </a>
      </div>
    </div>
  </div>

  <a class="hidden lg:block lg:w-7/12" href={project.data.link}>
    <Image class="rounded-md w-full" src={project.data.image} alt={project.data.title} width={500} height={300} format={"jpeg"} fetchpriority="high" />
  </a>
</div>
